@font-face {
  font-family: Laylo;
  src: url("../fonts/DancingScript-VariableFont_wght.ttf");
}
@font-face {
  font-family: Rubik;
  src: url("../fonts/Rubik-VariableFont_wght.ttf");
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --bg-primary: #bea087;
  --bg-secondary: #d9c08b;
  --size: 18px;
  --border: 1px solid gray;
  --border-radius: 0px;
  --transition: 0.5s;
}

.title {
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0 40px;
  font-weight: 500;
}

.container {
  max-width: 1510px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
a {
  color: inherit;
  text-decoration: inherit;
}
input,
button {
  outline: none;
}

/* Header start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 10;
  transition: 0.25s ease-in;
}
.header.shrink {
  background: #000;
}
/* .header.shrink .header__navbar{
    height: 60px;
} */
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  transition: 0.25s ease-in;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__logo img {
  width: 60px;
}
.header__collection {
  display: flex;
  gap: 20px;
}
.header__options {
  display: flex;
  gap: 20px;
}
.header__options select {
  border: none;
  background: transparent;
  color: white;
}
/* Header end */

/* Hero start */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
.hero::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(#000000f2, #00000030, transparent);
}
.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Hero end */

.menu {
  background: var(--bg-primary);
}

.menu__wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 16px 0;
  position: relative;
}

.menu__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.menu__item img {
  width: 44px;
}

.menu__item:hover span {
  text-decoration: underline;
}

.menu__bar {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.menu__bar button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  transform: rotate(90deg);
  background: #c3d2dc;
}

.menu__bar button {
  cursor: pointer;
}

.product__wrapper {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.product__card {
  width: calc(25% - 30px);
}

.prodcut__card__image {
  position: relative;
}

.prodcut__card__image img {
  width: 343px;
  border-radius: 50%;
  cursor: pointer;
}

.prodcut__card__image span {
  width: 40px;
  height: 40px;
  background: #2e2124;
  color: white;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 24px;
  display: grid;
  place-items: center;
  border: 3px solid white;
  box-sizing: content-box;
}

.product__card__body {
  text-align: center;
  margin-top: 20px;
  font-family: Rubik, sans-serif;
}

.product__card__body h3 {
  margin-bottom: 30px;
  font-weight: 400;
  cursor: pointer;
}

.product__card__body h3:hover {
  text-decoration: underline;
}

.product__card__body p {
  color: gray;
  margin-bottom: 30px;
  line-height: 25px;
}

.product__card__body strong {
  font-size: 20px;
  color: #5a5d60;
}

/* Most solds start */

.most__solds {
  margin-top: 100px;
}

.most__solds__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.most__sold__card {
  width: calc(25% - 30px);
}

.most__sold__card__image img {
  width: 343px;
  border-radius: 50%;
  cursor: pointer;
}

.most__sold__card__body {
  text-align: center;
  margin-top: 20px;
  font-family: Rubik, sans-serif;
}

.most__sold__card__body h3 {
  margin-bottom: 30px;
  font-weight: 400;
  cursor: pointer;
}

.most__sold__card__body h3:hover {
  text-decoration: underline;
}

.most__sold__card__body p {
  color: gray;
  margin-bottom: 20px;
  line-height: 25px;
}

.most__sold__card__body strong {
  font-size: 20px;
  color: #5a5d60;
}

/* Most solds end */

/* Values start */

.values {
  margin-top: 100px;
}

.value_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.values__card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.values__card span {
  padding-top: 10px;
}

.values__card p {
  color: gray;
  line-height: 22px;
}

/* Values end */

/* About us start */

.about__us {
  margin-top: 100px;
}

.about__us__wrapper {
  display: flex;
  align-items: center;
  gap: 110px;
}

.about__us__image {
  width: 100%;
  position: relative;
}

.about__us__image img {
  width: 100%;
  border-radius: 20px;
}

.about__us__image button {
  width: 150px;
  height: 150px;
  background: var(--bg-secondary);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 200px;
  right: -90px;
  border: 10px solid white;
  font-size: 18px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.about__us__image button:hover {
  background: var(--bg-primary);
  cursor: pointer;
}

.about__us__body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 130px;
}

.about__us__body .about__us__body__title {
  padding-top: 100px;
}

.about__us__body .about__us__body__title h1 {
  font-family: Rubik, sans-serif;
  font-weight: 450;
  font-size: 32px;
  margin-bottom: 20px;
}

.about__us__body .about__us__body__title p {
  color: gray;
  line-height: 27px;
  font-family: Rubik, sans-serif;
  padding-top: 20px;
}

/* About us end */

/* News start */

.news__wrapper {
  display: flex;
  gap: 35px;
}

.news .news__title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.news__card {
  width: 468px;
  height: 468px;
}

.news__card__image {
  width: 100%;
  height: 100%;
  position: relative;
}

.news__card__image img {
  width: 600px;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.news__card__body .news__card__title {
  text-transform: uppercase;
  font-weight: 400;
  color: #0a0a0a;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: Rubik, sans-serif;
  margin-top: 30px;
  font-size: 23px;
}

.news__card__body .news__card__title:hover {
  text-decoration: underline;
}

.news__card__body p {
  color: gray;
  font-family: Rubik, sans-serif;
}

.news__card__image button {
  width: 150px;
  height: 150px;
  background: var(--bg-secondary);
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 155px;
  right: 150px;
  border: 10px solid white;
  font-size: 18px;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.news__card__image button:hover {
  background: var(--bg-primary);
  cursor: pointer;
}

/* News end */

/* Footer start */

.site__footer {
  width: 100%;
  height: 470px;
  background: #2e2124;
  margin-top: 350px;
}

.footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0 0 0;
}

.footer__logo img {
  width: 180px;
  cursor: pointer;
}

.footer__collection__items {
  display: flex;
  gap: 220px;
  color: white;
}

.footer__collection__items ul h2 {
  margin-bottom: 23px;
}

.footer__collection__items ul li {
  line-height: 45px;
}

.footer__collection__items ul li:hover {
  cursor: pointer;
  color: #bea087;
}

.footer__contact {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer__contact__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}

.footer__contact .footer__contact__tel {
  font-size: 35px;
  font-weight: 600;
}

.footer__contact .footer__contact__tel:hover {
  text-decoration: underline;
}

.footer__contact__socailmedias {
  display: flex;
  gap: 20px;
  cursor: pointer;
}

.download__apps img {
  width: 110px;
  height: 110px;
  cursor: pointer;
}

.footer__bottom {
  border-top: 1px solid #979092;
  margin-top: 40px;
}

.footer__bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 20px;
}

.footer__bottom__wrapper p a:hover {
  text-decoration: underline;
}

/* Footer end */
